/*详情*/
.particulars {
	width: 100%
}
/*详情页主题图*/
.img12 {
	width: 100%;
	margin-top: 10px;
}
.img3 {
	width: 100%;
}
/*图片*/
.img2 {
	width: 100%;
	margin-bottom: 6px;
}
/*详情内容*/
.particulars_li {
	clear: both;
	padding-top: 10px;
}
/*详情标题*/
.particulars_li h4 {
	font-size: 1.1rem;
	text-align: center;
	width: 96%;
	margin-left: 2%;
	margin-bottom: 10px;
}
/*详情文字内容*/
.particulars_li p {
	width: 96%;
	text-indent: 1rem;
	font-size: .8rem;
	margin-bottom: 10px;
	margin-left: 2%;
	color: #abadae;
}
/*栏目题目*/
.project_x {
	width: 100%;
	margin-top: 6px;
}
/*文字题目*/
.project_x li .project_xdiv{
	width: 100%;
	font-size: .85rem;
	background: url(../img/lan.png) no-repeat;
	height: 30px;
	margin-bottom: 10px;
	line-height: 30px;
	text-align: center;
	color: white;
}
