/*大图滚动*/
.wrap {
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
	position: relative
}
.middle {
	width: 600%;
	position: relative;
	left: 0
}
.middle img {
	width: 16.666666%;
	float: left
}
/*大图滚动按钮*/
.wrap_d {
	position: absolute;
	width: 44px;
	left: 50%;
	margin-left: -22px;
	bottom: 15px
}
.wrap_d li {
	width: 4px;
	height: 4px;
	float: left;
	border: 1px white solid;
	margin-left: 2px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%
}
.active {
	background-color: white
}
/*导航栏*/
.navs {
	width: 100%
}
.navs li {
	width: 30%;
	margin-left: 2.5%;
	margin-top: 10px;
	float: left;
	text-align: center;
	color: #abadae
}
.navs li img {
	width: 50%;
}
.navs li h5 {
	font-size: .8rem;
	margin-top: 10px;
}
/*新闻*/
.indexL {
	width: 100%;
	float: left;
	margin-top: 10px;
	clear: both
}
.indexL .ic {
	width: 100%;
}
.indexL .ic li {
	height: 15px;
	padding-left: 10px;
	margin-bottom: 10px
}
.indexL .ic a {
	color: #00862e;
	font-size: 0.75rem;
	text-decoration: none;
	display: block;
}
.more {
	float: right;
	margin-right: 10px;
}
/*三大项目*/
.brand {
	width: 100%
}
.brand li {
	width: 94%;
	float: left;
	margin-left: 3%;
	margin-top: 10px;
	font-size: .8rem;
	padding-bottom: 10px;
	border-bottom: 1px black dashed
}
.brand li img {
	width: 100%
}
.brand li h2 {
	text-align: center;
	font-size: 1.1rem;
	margin-top: 5px;
}
.brand_d {
	width: 50%;
	margin-top: 10px;
	text-align: center;
	float: left;
	margin-left: 25%;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	background-color: #00862e;
	color: white;
	font-size: 0.8rem;
}
/*九大特色*/
.feature {
	padding-top: 10px;
}
.feature ul {
	position: relative
}
.feature li {
	width: 96%;
	margin-top: 10px;
	margin-left: 2%;
	position: absolute;
	background-color: white;
	border-bottom: 1px black dashed
}
.feature li img:nth-child(1) {
	width: 100%;
	font-weight: bold;
}
.feature_dl {
	margin-top: 10px;
	text-align: center
}
.feature_dl p:nth-child(1) {
	font-size: 1.1rem;
}
.feature_dl p:nth-child(2) {
	color: #abadae;
	font-size: .8rem;
	margin-bottom: 10px;
	margin-top: 10px
}
.feature_dl img {
	width: 4%;
	float: right;
	margin-right: 5%;
	margin-bottom: 10px
}
/*九大特色滑动效果*/
.brand_lr {
	width: 100%;
	text-align: center;
	color: #abadae;
	margin-top: 10px;
	font-size: 0.8rem;
	clear: both;
}
.brand_lr img {
	width: 4%;
	animation: pager 1s infinite;
	-webkit-animation: pager 1s infinite;
	-ms-animation: pager 1s infinite;
	-moz-animation: pager 1s infinite
}
@keyframes pager {
	0% {
		opacity: .1
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}
@-webkit-keyframes pager {
	0% {
		opacity: .1
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}
@-ms-keyframes pager {
	0% {
		opacity: .1
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}
@-moz-keyframes pager {
	0% {
		opacity: .1
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}
.brand_lr img:nth-child(1) {
	float: left;
	margin-left: 3%
}
.brand_lr img:nth-child(3) {
	float: right;
	margin-right: 3%;
	display: none
}
/*.projecter {
	padding-bottom: 10px;
}*/
/*成功案例*/
.projecter li {
	width: 96%;
	margin-left: 2%;
	margin-bottom: 10px;
	margin-top: 10px;
}
.projecter_li {
	width: 30%;
	/*border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%*/
}
.projecter_ld {
	width: 66%;
	float: right;
	position: relative;
	border-bottom: 1px solid lightgray;
	padding-bottom: 20px
}
.projecter_ld p:nth-child(1) {
	font-size: 1.1rem;
}
.projecter_ld p:nth-child(2) {
	color: #abadae;
	font-size: .8rem;
	width: 95%;
	margin-top: 5px;
}
.projecter_ld img {
	width: 6%;
	position: absolute;
	right: 2%;
	top: 70%
}
/*四大应用市场*/
.brand1 {
	width: 100%;
	margin-top: 97%;
	clear: both;
	padding-top: 10px;
}
.brand1 li {
	width: 45.5%;
	float: left;
	margin-left: 3%;
	margin-top: 10px;
	font-size: .8rem;
	padding-bottom: 10px;
	border-bottom: 1px black dashed
}
.brand1 li img {
	width: 100%
}
.brand1 li h2 {
	text-align: center;
	font-size: 1.1rem;
	margin-top: 10px;
}
.brand1 li p {
	text-align: center;
	font-size: .8rem;
	margin-top: 10px;
	color: #abadae;
}